.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1e1e;
  color: #d4d4d4;
  overflow: hidden;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.editor-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.editor-container {
  flex: 1;
  min-height: 0;
  width: 100%;
  height: 100%;
}

button {
  font-family: inherit;
}

button:focus {
  outline: 2px solid #007acc;
  outline-offset: 2px;
}

